@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Barlow:wght@100;300;400;700&display=swap');

/*
CORES:
- AMARELO: #FFC07F
- VERMELHO: #860E1C
- MARROM: #4E1E00
- LARANJA: #E5571A
- PRETO: #170900
*/

*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', Arial, sans-serif;
}

h1 {
    font-family: 'Archivo Narrow', Arial, sans-serif;
    color: #860E1C;
}


.custom-label{
    font-weight: bold;
}

.obrigatorio {
    color: #860E1C;
}

.label-check-custom{
    font-size: 0.8rem;
}


/* CHECKBOX inicio */

input[type='checkbox']{
    border: 1px solid #860E1C;
}

input[type='checkbox']:checked{
    background-color: #860E1C;
    border: 1px solid #860E1C;
  }

  input[type='checkbox']:focus{
    border-color: #853a43;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(133, 58, 67, 0.2);
  }

/* CHECKBOX fim */

/* BOTAO CANCELAR inicio */

.btn-cancelar {
    background-color: white;
    border: solid 1px #860E1C;
    color: #860E1C;
    padding: 5px 10px;
    border-radius: 30px;
}

/* BOTAO CANCELAR fim */

/* BOTAO PRINCIPAL inicio */

.btn-principal{
    background-color: #E5571A;
    width: 190px;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
}

/* BOTAO PRINCIPAL fim */