/* BOTAO CANCELAR inicio */

.btn-cancelar {
    background-color: white;
    border: solid 1px #860E1C;
    color: #860E1C;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.1s;
}

.btn-cancelar:hover {
    color: white;
    background-color: #860E1C;
}


/* BOTAO CANCELAR fim */